.logo {
    width: 10rem;
}

.fuentes {
    font-size: 1rem;
    padding-left: 2rem;
}

.colorBtn {
    background-color: blueviolet;
    color: white;
}

.colorBtn:hover {
    background-color: blue;
    color: white;
}